@model ReadNewsWebClient.Models.ArticleIndexViewModel
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "News";
}
@section PageStyles {
    <link href="@Url.Content("~/Content/Css/paged-list.css")" rel="stylesheet" />    
}
<!--<!--app banner-->
<div class="container-fluid paddding mb-5">
    <div class="row mx-0">
        <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
            <div class="fh5co_suceefh5co_height">
                <img src="@Model.TopFivesLatest.First().GetImageUrl()" alt="img" />
                <div class="fh5co_suceefh5co_height_position_absolute"></div>
                <div class="fh5co_suceefh5co_height_position_absolute_font">
                    <div class="">
                        <a href="#" class="color_fff">
                            <i class="fa fa-clock-o"></i>&nbsp;&nbsp;@Model.TopFivesLatest.First().CreatedAt.ToString("MMM, dd, yyyy")
                        </a>
                    </div>
                    <div class="">@Html.ActionLink(Model.TopFivesLatest.First().Title, "Read", "Article", new { id = Model.TopFivesLatest.First().Id }, new { @class = "fh5co_good_font" })</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2">
                        <img src="@Model.TopFivesLatest[1].GetImageUrl()" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class="">
                                <a href="#" class="color_fff">
                                    <i class="fa fa-clock-o"></i>&nbsp;&nbsp;@Model.TopFivesLatest[1].CreatedAt.ToString("MMM, dd, yyyy")
                                </a>
                            </div>
                            <div class="">@Html.ActionLink(Model.TopFivesLatest[1].Title, "Read", "Article", new { id = Model.TopFivesLatest[1].Id }, new { @class = "fh5co_good_font_2 line-cutoff" })</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2">
                        <img src="@Model.TopFivesLatest[2].GetImageUrl()" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;@Model.TopFivesLatest[2].CreatedAt.ToString("MMM, dd, yyyy") </a></div>
                            <div class="">@Html.ActionLink(Model.TopFivesLatest[2].Title, "Read", "Article", new { id = Model.TopFivesLatest[2].Id }, new { @class = "fh5co_good_font_2 line-cutoff" })</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2">
                        <img src="@Model.TopFivesLatest[3].GetImageUrl()" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class="">
                                <a href="#" class="color_fff">
                                    <i class="fa fa-clock-o"></i>&nbsp;&nbsp;@Model.TopFivesLatest[3].CreatedAt.ToString("MMM, dd, yyyy")
                                </a>
                            </div>
                            <div class="">@Html.ActionLink(Model.TopFivesLatest[3].Title, "Read", "Article", new { id = Model.TopFivesLatest[3].Id }, new { @class = "fh5co_good_font_2 line-cutoff" })</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co_suceefh5co_height_2">
                        <img src="@Model.TopFivesLatest[4].GetImageUrl()" alt="img" />
                        <div class="fh5co_suceefh5co_height_position_absolute"></div>
                        <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                            <div class="">
                                <a href="#" class="color_fff">
                                    <i class="fa fa-clock-o"></i>&nbsp;&nbsp;@Model.TopFivesLatest[4].CreatedAt.ToString("MMM, dd, yyyy")
                                </a>
                            </div>
                            <div class="">@Html.ActionLink(Model.TopFivesLatest[4].Title, "Read", "Article", new { id = Model.TopFivesLatest[4].Id }, new { @class = "fh5co_good_font_2 line-cutoff" })</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*End app banner

    News*@

<!--End app banner-->
<!--News-->

<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
                Covid<iv>
            </div>
            <div class="owl-carousel owl-theme" id="slider2">
                @foreach (var item in Model.TrendingAricles)
                {
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="@item.GetImageUrl()" alt="" /></div>
                            <div>
                                @Html.ActionLink(item.Title, "Read", "Article", new { id = item.Id }, new { @class = "d-block fh5co_small_post_heading" })
                                <div class="c_g"><i class="fa fa-clock-o"></i> @item.CreatedAt.ToString("MMM dd, yyyy")</div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>



<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tin Mới Nhất </div>
                </div>
                @foreach (var item in Model.PagedListArticle)
                {

                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="@item.GetImageUrl()" alt="" /></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7 animate-box">
                            @Html.ActionLink(item.Title, "Read", "Article", new { id = item.Id }, new { @class = "fh5co_magna py-2 font-auto" })
                            <a href="single.html" class="fh5co_mini_time py-3">

                                @item.CreatedAt.ToString("MMMM dd, yyyy")
                            </a>
                            <div class="fh5co_consectetur">
                                @item.Description
                            </div>
                        </div>
                    </div>
                }


            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Danh Mục</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    @foreach (var item in Model.ListCategories)
                    {
                        <a href="#" class="fh5co_tagg">@item.Name</a>
                    }

                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Tin Tiêu Điểm</div>
                </div>
                @foreach (var item in Model.TopFivesLatest)
                {

                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="@item.GetImageUrl()" alt="img" class="fh5co_most_trading" />
                        </div>
                        <div class="col-7 paddding">
                            @Html.ActionLink(item.Title, "Read", "Article", new { id = item.Id }, new { @class = "most_fh5co_treding_font line-cutoff text-black" })
                            <div class="most_fh5co_treding_font_123">@item.CreatedAt.ToString("MMMM dd, yyyy")</div>
                        </div>
                    </div>
                }

            </div>
        </div>
    

        <div class="page-separate">
            <p class="page-separate-text">Trang @(Model.PagedListArticle.PageCount < Model.PagedListArticle.PageNumber ? 0 : Model.PagedListArticle.PageNumber) / @Model.PagedListArticle.PageCount</p>

            @Html.PagedListPager(Model.PagedListArticle, page => Url.Action("Index", "Article", new { page }))
        </div>


    </div>
</div>

