@model IEnumerable<ReadNewsWebClient.Models.Article>

@{
    ViewBag.Title = "ListNewArticle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List Pending Article</h2>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title "> ListNewArticle </h4>
                <p class="card-category"> </p>
                <p>List contains: @Model.Count() items</p>

            </div>
            <div class="card-body">
                <p class="text-danger">
                    @TempData["AritcleDetailStatus"]
                </p>
                @if (Model.Count() == 0)
                {
                    <p class="text-danger">
                        @TempData["GetListPendingArticleStatus"]
                    </p>
                }
                else
                { <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>

                                    @*<th>
                                            @Html.DisplayNameFor(model => model.Source)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Link)
                                        </th>*@
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.ImgUrls)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdatedAt)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.CategoryId)
                                        </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>

                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.Source)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Link)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ImgUrls)
                                            </td>*@
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedAt)
                                        </td>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.CategoryId)
                                            </td>*@
                                        <td>
                                            @Html.ActionLink("Details", "ArticleDetail", "Admin", new { id = item.Id }, new { @class = "btn btn-primary" })
                                            @Html.ActionLink("Edit", "EditArticle", new { id = item.Id }) |

                                            @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                }


            </div>

        </div>
    </div>
</div>



