@model IEnumerable<ReadNewsWebClient.Models.Article>

@{
    ViewBag.Title = "ListNewArticle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List Pending Article</h2>
<p>List contains: @Model.Count() items</p>
<p class="text-danger">
    @TempData["GetListPendingArticleStatus"]
</p>
<p class="text-danger">
    @TempData["AritcleDetailStatus"]
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.ImgUrls)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>

    @*<td>
        @Html.DisplayFor(modelItem => item.Source)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Link)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ImgUrls)
    </td>*@
    @*<td>
        @Html.DisplayFor(modelItem => item.UpdatedAt)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.CreatedAt)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.CategoryId)
    </td>*@
    <td>
        @Html.ActionLink("Details", "ArticeDetail", "Admin", new { id = item.Id }, new { @class = "btn btn-primary"}) 
       
    </td>
</tr>
}

</table>
